// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Satisfy&display=swap');
// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-family: "Poppins", sans-serif !important;
    color: #5f5950;
}
.tab-system{
    ul.nav:hover{
        overflow-y:hidden;
        overflow-x: auto;
    }
    ul.nav {
        flex-wrap:nowrap;
    }

    ul.nav li {
        white-space: nowrap;
    }
	.nav-tabs .nav-link.router-link-exact-active, .nav-tabs .nav-item.show .nav-link {
        border-right-color: transparent;
        border-top-color: transparent;
        border-left-color: transparent ;
        border-bottom: 3px solid #EA1F25 !important;
        color: #EA1F25;
        font-weight: bold;
    }
    
    .nav-tabs .nav-link {
        color:#495057;
        font-weight: 600;
    }
    .nav-tabs .nav-link:hover {
        color: #EA1F25;
        border-color: transparent;
    }
}